.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
.leftHeader {
  display: flex;
  align-items: center;
}
.leftHeader > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
.searchContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 5px;
  color: grey;
  background-color: #eef3f8;
}
.searchContainer > input {
  outline: none;
  border: none;
  background: none;
}
.rightHeader {
  display: flex;
}
.headerOption {
  /* padding: 10px; */
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  cursor: pointer;
}
.headerOption:hover {
  color: black;
}
.headerOptionIcon {
  object-fit: contain;
  height: 25px !important;
  width: 25px;
}
.headerOptionTitle {
  font-size: 12px;
  font-weight: 400;
}
