.sidebar {
  top: 80px;
  position: sticky;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}
.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebarAvatar {
  margin-bottom: 10px;
}
.sidebarTop > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.sidebarTop > h4 {
  color: gray;
  font-size: 12px;
}
.sidebarTop > h2 {
  font-size: 18px;
}
.sidebarStats {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebarStat {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.sidebarStat > p {
  font-size: 13px;
  font-weight: 600;
  color: gray;
}
.sidebardStatNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}
.sidebarBottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
}
.sidebarBottom > p {
  font-size: 13px;
  padding-bottom: 10px;
}
.sidebarRecentItems {
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: bolder;
  color: grey;
  margin-bottom: 5px;
  padding: 5px;
}
.sidebarRecentItems:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  border-radius: 10px;
}
.sidebarHash {
  margin-left: 5px;
  margin-right: 10px;
}
